# :.config/zsh/.functions
# vim:set fdm=marker foldenable ft=zsh foldlevel=0:

# Double Escape to sudo current line {{{
sudo-command-line() {
[[ -z $BUFFER ]] && zle up-history
if [[ $BUFFER == sudo\ * ]]; then
    LBUFFER="${LBUFFER#sudo }"
elif [[ $BUFFER == $EDITOR\ * ]]; then
    LBUFFER="${LBUFFER#$EDITOR }"
    LBUFFER="sudoedit $LBUFFER"
elif [[ $BUFFER == sudoedit\ * ]]; then
    LBUFFER="${LBUFFER#sudoedit }"
    LBUFFER="$EDITOR $LBUFFER"
else
    LBUFFER="sudo $LBUFFER"
fi
}
zle -N sudo-command-line
# Defined shortcut keys: [Esc] [Esc]
bindkey "\e\e" sudo-command-line
bindkey -M vicmd '\e\e' sudo-command-line
# }}}
# Make Ctrl-z also resume background process {{{
fancy-ctrl-z () {
if [[ $#BUFFER -eq 0 ]]; then
    BUFFER="fg"
    zle accept-line
else
    zle flush-input
    zle clear-screen
fi
}
zle -N fancy-ctrl-z
bindkey '^Z' fancy-ctrl-z
# }}}
# Mkdir and then cd into it {{{
function mkcd
{
    command mkdir $1 && cd $1
}
# }}}
# Git commit {{{
gcm() {
    echo -e "Enter commit message:"
    message=""
    while [ -z "$message" ]
    do
        IFS= read -r message
        wait
        sleep 1
    done
    git commit -m "$message"
    message=""
}
# }}}
# Change fzf-completion commands {{{
_fzf_compgen_path() {
    fd --hidden --follow --exclude ".git" --exclude "pfx" --exclude "dosdevices" --exclude "steamapps" --exclude "drive_c" . "$1"
}
_fzf_compgen_dir() {
    fd --type d --hidden --follow --exclude ".git" --exclude "pfx" --exclude "dosdevices" --exclude "steamapps" --exclude "drive_c" . "$1"
}
# }}}
# Paru fuzzy install {{{
function ins {
    paru -Slq | fzf --height=80% --prompt=" " --preview-window=hidden --preview 'paru -Si {1}' | xargs -ro paru -S --removemake --cleanafter
}
# }}}
# Paru fuzzy remove {{{
function rem() {
    paru -Qq | fzf -q "$1" --height=80% --prompt=" " --preview-window=hidden --preview 'paru -Qi {1}' | xargs -ro paru -Rns
}
# }}}
# Tldr fuzzy {{{
function cheat() { if [[ "$#" -ne 0 ]]; then
        tldr $@
        return
    fi
    tldr --list | fzf -q "$1" --prompt=' ' --preview-window=nohidden,80%  --preview "echo {} | xargs tldr --color always" | xargs -r tldr
}
# }}}
# FZF select + execute history {{{
fzf-history-widget-accept() {
    fzf-history-widget
    zle accept-line
}
zle     -N     fzf-history-widget-accept
bindkey '^R^R' fzf-history-widget-accept
# }}}
# Browse history {{{
hist() {
    local cols sep history open
    cols=$(( COLUMNS / 3 ))
    sep='{::}'

    if [ "$(uname)" = "Darwin" ]; then
        history="$HOME/Library/Application Support/Google/Chrome/Default/History"
        open=open
    else
        history="$HOME/.config/BraveSoftware/Brave-Browser/Default/History"
        open=xdg-open
    fi
    cp -f "$history" /tmp/h
    sqlite3 -separator $sep /tmp/h \
        "select substr(title, 1, $cols), url
        from urls order by last_visit_time desc" |
        awk -F $sep '{printf "%-'$cols's  \x1b[36m%s\x1b[m\n", $1, $2}' |
        fzf --prompt="爵HISTORY " --ansi --multi | sed 's#.*\(https*://\)#\1#' | xargs $open > /dev/null 2> /dev/null
}
# }}}
# Ripgrep in file {{{
fif() {
    if [ ! "$#" -gt 0 ]; then echo "Need a string to search for!"; return 1; fi
    rg --files-with-matches --no-messages "$1" | fzf --preview-window=nohidden --prompt=" RIPGREP " --preview "highlight -O ansi -l {} 2> /dev/null | rg --colors 'match:bg:yellow' --ignore-case --pretty --context 10 '$1' || rg --ignore-case --pretty --context 10 '$1' {}"
}
# }}}
# Neovim {{{
function nvim() {
    if [[ "$#" -ne 0 ]]; then
        /usr/bin/nvim $@
        return
    fi
    /usr/bin/nvim -c ":Alpha"
}
# }}}
# Dasht {{{
function ffdash() {
    dasht-query-line $@ | perl -0777 -pe 's/name = (.*?)\ntype = (.*?)\nfrom = (.*?)\nurl = (.*?)\n/ $4 | $1 | $3 | $3\n\n/g' | column -ts'|' | fzf --no-sort --with-nth=2.. --bind 'enter:execute(w3m {1})+accept'
}
# }}}
# SDCV define word {{{
function def() {
    sdcv -2 '.local/share/dic' -n --utf8-output --color "$@" 2>&1 | \
    fold --width=$(tput cols) | \
    less --quit-if-one-screen -RX
}
# }}}
