configuration {
    theme: "~/dotfiles/.colors-rofi-dark.rasi";
    modi: "window,run,drun";
    show-icons: true;
    icon-theme: "Flat-Remix-Grey-Dark"; 
    location: 0;
    hide-scrollbar: true;
    font: "JetBrainsMono Nerd Font Mono 10";
    disable-history: false;
    window-format: " {w}   {c}   {t}";
}
