/* :.config/rofi/config.rasi
*/
configuration {
    theme: "~/scripts/rofi/rofi-theme.rasi";
    modi: "window,run,drun";
    location: 0;
    disable-history: false;
    window-format: " {w}   {c}   {t}";
    window {
        display-name: "Windows";
    }
}
