set header_cache=~/.cache/mutt
set imap_check_subscribed
set imap_keepalive=300
unset imap_passive
set mail_check=120
set mbox_type=Maildir

set editor=/usr/bin/nvim

set allow_ansi=yes

color normal     color7 default
color quoted     color6 default
color quoted1    color1 default
color quoted2    color5 default
color quoted3    color1 default
color quoted4    cyan   default
color quoted5    cyan   default
color indicator  color7 color8
color message    color7 default
color status     color7 color8
color error      color5 default
color attachment color7 default
color signature  color2 default
color markers    color7 yellow
color tilde      color7 default
color search     color7 green
color tree       color7 default
color bold       color7 default
color hdrdefault color7 default
color header     green  default '^From:'
color header     green  default '^Subject:'
color header     cyan   default '^To:.*corky1951'
color index      color2 default ~N
color index      blue   default ~F
color index      color5 default ~T
color index      color5 default ~D
color body       color2 default "(http|https|ftp|news|telnet|finger)://[^ \">\t\r\n]*"
color body       color2 default "mailto:[-a-z_0-9.]+ <at> [-a-z_0-9.]+"
color body       color2 default "news:[^ \">\t\r\n]*"
color body       green  default "[-a-z_0-9.%$]+ <at> [-a-z_0-9.]+\\.[-a-z][-a-z]+"
