urls-source "miniflux"
miniflux-url "https://{{ miniflux_url }}"
miniflux-tokeneval "rbw get '{{ miniflux_password }}'"
text-width 50
reload-threads 11
show-read-feeds no
feedlist-format     "%11i │ %3U │ %t %> %T"
articlelist-format  "%11i │ %D │ %t"

color background          white   black
color listnormal          white   black
color listfocus           white   color8
color listnormal_unread   white   black    bold
color listfocus_unread    white   color8   bold
color title               blue    color8   bold
color info                white   black   bold
color hint-key            color1  black   bold
color hint-keys-delimiter black  black
color hint-separator      color8   black   bold
color hint-description    color6  black
color article             white   black

unbind-key j
unbind-key k
unbind-key J
unbind-key K
unbind-key ^D
unbind-key ^U
unbind-key o
unbind-key g
unbind-key G

bind-key j down
bind-key k up
bind-key l open
bind-key h quit
bind-key J next-feed
bind-key K prev-feed
bind-key ^D pagedown
bind-key ^U pageup
bind-key b toggle-source-view
bind-key U toggle-show-read-feeds
bind-key u show-urls
bind-key g home
bind-key G end
bind-key b open-in-browser-and-mark-read
bind-key B open-in-browser
bind-key i sort
bind-key I rev-sort
