* {
  background: transparent;
  color: #e3d1c3;
  font-family:
    SF Pro Display,
    Symbols Nerd Font;
  font-weight: 500;
}

#mpris {
  background-color: #fcc500;
  color: black;
  border-radius: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 2px;
  margin-left: 2px;
}

#clock {
  background-color: #1d1b19;
  color: white;
  border-radius: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 2px;
  margin-left: 2px;
}

#workspaces {
  background-color: #1d1b19;
  color: black;
  border-radius: 20px;
  margin-right: 2px;
  margin-left: 2px;
}

#workspaces button {
  border-radius: 20px;
  border-width: 0px;
}

#workspaces button:hover {
  border-radius: 20px;
  background-color: #282523;
}

#workspaces button.focused {
  background-color: #282523;
}

#window {
  background-color: #5e5043;
  border-radius: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 2px;
  margin-left: 2px;
}

window#waybar.empty #window {
  background-color: transparent;
}

#pulseaudio {
  background-color: #5e5043;
  border-radius: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 2px;
  margin-left: 2px;
}

#pulseaudio.muted {
  background-color: #5e5043;
}

#custom-dunst {
  background-color: #5e5043;
  border-radius: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 2px;
  margin-left: 2px;
}
