/* :.config/rofi/config.rasi
*/
configuration {
    modi: "window,drun";
    fixed-num-lines: false;
    disable-history: false;
    window-format: " {w}   {c}   {t}";
    window {
        display-name: "Windows";
    }
}
@theme "~/scripts/rofi/rofi-theme.rasi"
