prefer-no-csd
screenshot-path "~/pictures/screenshots/%Y-%m-%d_%H-%M.png"
config-notification { disable-failed; }
hotkey-overlay { skip-at-startup; }
cursor { xcursor-size 24; hide-when-typing; hide-after-inactive-ms 1000; }
debug { honor-xdg-activation-with-invalid-serial; }

include "animations.kdl"
include "binds.kdl"
include "environment.kdl"
include "input.kdl"
include "layout.kdl"
include "startup.kdl"
include "outputs.kdl"
include "rules.kdl"
include "dms/colors.kdl"
include "dms/layout.kdl"
include "dms/alttab.kdl"
