spawn-at-startup "~/dotfiles/scripts/src/niri_dynamic_float.py"

input {
    keyboard {
        xkb {
            layout "us"
        }
    }

    touchpad {
        tap
        scroll-method "two-finger"
        disabled-on-external-mouse
    }

    mouse {
        accel-speed 0.0
        accel-profile "flat"
    }

    trackpoint {}
}

recent-windows {
    highlight {
        corner-radius 14
    }
}

output "DP-1" {
    // variable-refresh-rate
    mode "3440x1440@164.900" // 3440x1440@164.900
    scale 1.5
    position x=0 y=0
    background-color "#000000"
}

layout {
    gaps 12

	default-column-display "tabbed"
    center-focused-column "never"
    always-center-single-column

    preset-column-widths {
        proportion 0.5
        proportion 1.0
    }

    preset-window-heights {
        proportion 0.5
        proportion 1.0
    }

    tab-indicator {
    	place-within-column;
    	hide-when-single-tab;
    	length total-proportion=0.1;
    	width 8;
    	gaps-between-tabs 8;
    	corner-radius 16;
        active-color "#fcc500"
        inactive-color "#ded8d3a0"
    }

	insert-hint {
        color "#fcc500a0"
    }

    default-column-width { proportion 0.5; }

    focus-ring {
		off
    }

    border {
        width 3
        active-color "#fcc500"
        inactive-color "#ded8d3a0"
    }

    struts {
        left 32
        right 32
        top 16
        bottom 32
    }
}

screenshot-path "~/pictures/screenshots/%Y-%m-%d_%H-%M.png"

animations {}

environment {
    DISPLAY ":0"
    QT_QPA_PLATFORM "wayland"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}

hotkey-overlay {
    skip-at-startup
}

cursor {
    xcursor-size 16

    hide-when-typing
    hide-after-inactive-ms 1000
}

window-rule {
    geometry-corner-radius 16.0
    clip-to-geometry true
    open-maximized true
    draw-border-with-background false
}

window-rule {
	match app-id="Alacritty"
	default-column-display "tabbed"
    open-maximized false
}

window-rule {
    match app-id="qalculate-gtk"
    open-maximized false
    min-width 200
    max-width 200
}

window-rule {
	match title="^Kingdom Come: Deliverance$"
    open-maximized true
    open-floating false
    open-fullscreen true
}

window-rule {
	match app-id="steam"
	match app-id="dialog"
	match app-id="popup"
	match app-id="task_dialog"
	match app-id="file-roller"
	match app-id="blueman-manager"
	match app-id="xdg-desktop-portal-gtk"
	match app-id="pinentry"
	match title="Copying"
	match title="Progress"
	match title="Moving"
	match title="Properties"
	match title="Downlaods"
	match title="Confirm"
	match title="Authentication Required"
	match title="Notice"
	match title="Error"
	match title="Warning"
	match app-id="pavucontrol"
	match title="Friends List"
    open-maximized false
    open-floating true
}

window-rule {
	match app-id="steam" title="Steam Games List"
	max-width 430
	open-floating false
}

window-rule {
	match app-id="firefox" title="Mozilla Firefox"
	open-on-workspace "browser"
}

window-rule {
	match app-id="launcher"
    open-maximized false
    open-floating true
    min-width 500
    max-width 500
    min-height 900
    max-height 900
}

window-rule {
	match is-floating=true

    shadow {
        on
        softness 40
        spread 9
        offset x=0 y=5
        draw-behind-window true
        color "#00000044"
    }
}

window-rule {
    match app-id="launcher"
    match title="launcher"

    default-column-width { proportion 0.3; }

    open-maximized false
}

workspace "browser" {
	open-on-output "DP-1"
}

workspace "code" {
	open-on-output "DP-1"
}

binds {
	// General keybinds guide:
	// Mod => High-frequency keybinds
	// Mod+Alt => App/Window related
	// Mod+Shift => Layout related

    Mod+Return repeat=false cooldown-ms=500 { spawn "alacritty"; }
    Mod+B      repeat=false cooldown-ms=500 { spawn "firefox";   }
    Mod+Alt+L  repeat=false cooldown-ms=500 { spawn "hyprlock";  }

    Mod+P     repeat=false cooldown-ms=500 { spawn "wl-color-picker"  "clipboard";        }
    Mod+W     repeat=false cooldown-ms=500 { spawn "alacritty_launch" "fzf_niri_windows"; }
    Mod+Alt+W repeat=false cooldown-ms=500 { spawn "alacritty_launch" "fzf_niri_ws";      }
    Mod+Space repeat=false cooldown-ms=500 { spawn "alacritty_launch" "fzf_launcher";     }
    Mod+C     repeat=false cooldown-ms=500 { spawn "alacritty_launch" "fzf_cliphist";     }
    Mod+D     repeat=false cooldown-ms=500 { spawn "alacritty_launch" "fzf_dunst";        }
    Mod+G     repeat=false cooldown-ms=500 { spawn "alacritty_launch" "fzf_pass";         }
    Mod+M     repeat=false cooldown-ms=500 { spawn "alacritty_launch" "fzf_music";        }

	// Screenshot keybinds
    Mod+Alt+S { screenshot;        }
    Mod+Alt+D { screenshot-screen; }

	// Volume keybinds
    Mod+Slash { spawn "playerctl" "play-pause"; }

    Mod+Page_Up   { spawn "pactl"     "set-sink-volume" "@DEFAULT_SINK@" "+5%";}
    Mod+Page_Down { spawn "pactl"     "set-sink-volume" "@DEFAULT_SINK@" "-5%";}

	// [Layout] Close
    Mod+Shift+Backspace { close-window; }

	// [Layout] Focus window
    Mod+H         { focus-column-or-monitor-left;             }
    Mod+J         { focus-window-or-workspace-down;           }
    Mod+K         { focus-window-or-workspace-up;             }
    Mod+L         { focus-column-or-monitor-right;            }
    Mod+Z         { switch-focus-between-floating-and-tiling; } // like foreground/background
    Mod+A         { focus-column-first;                       }
    Mod+E         { focus-column-last;                        }
    Mod+Backslash { focus-window-previous;                    }
    Mod+Grave     { toggle-overview;                          }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

	// [Layout] Move window
    Mod+Shift+H { move-column-left-or-to-monitor-left;   }
    Mod+Shift+J { move-window-down-or-to-workspace-down; }
    Mod+Shift+K { move-window-up-or-to-workspace-up;     }
    Mod+Shift+L { move-column-right-or-to-monitor-right; }
    Mod+Shift+A { move-column-to-first;                  }
    Mod+Shift+E { move-column-to-last;                   }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+Comma        { consume-window-into-column;    }
    Mod+Period       { expel-window-from-column;      }
    Mod+BracketLeft  { consume-or-expel-window-left;  }
    Mod+BracketRight { consume-or-expel-window-right; }

	// [Layout] Window adjustments
    Mod+R       { switch-preset-column-width;   }
    Mod+F       { fullscreen-window;            }
    Mod+Q       { center-column;                }
    Mod+S       { toggle-column-tabbed-display; } // like vim split
    Mod+Shift+F { toggle-window-floating;       }
    Mod+Shift+R { reset-window-height;          }

    Mod+Minus       { set-column-width  "-10%"; }
    Mod+Equal       { set-column-width  "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
}
