/* colors */

* {
    al: #3a3a3a;
    bg: #2a2a2a;
    bg1: #637a8a;
    bg2: #aa8f7c;
    bg3: #8b8f7e;
    bg4: #987a6b;
    bg5: #877979;
    bg6: #937f74;
    fg: #bebebe;
    fg2: #949494;
    hi-bold: bold #637a8a;
    font: "JetBrainsMono Nerd Font 13";
    font-icon: "JetBrainsMono Nerd Font 12";
    icon-theme: "Fluent-grey-dark";
    show-icons: true;
}
