/* colors */

* {
    al: #b8b2b0;
    bg: #ede6e3;
    bg1: #3a3a3a;
    bg2: #637a8a;
    bg3: #aa8f7c;
    bg4: #8b8f7e;
    bg5: #877979;
    bg6: #937f74;
    fg: #685c56;
    fg2: #3b3531;
    hi-bold: bold #3a3a3a;
    font: "JetBrainsMono Nerd Font 14";
    font-icon: "JetBrainsMono Nerd Font 12";
    icon-theme: "Fluent-grey";
    show-icons: true;
}
